name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

defaults:
  run:
    shell: bash -l {0}

jobs:
  pytest:
    name: Run pytest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.3.0

      - name: Install mamba & create environment
        uses: mamba-org/provision-with-micromamba@v15
        with:
          cache-env: true
          extra-specs: |
            pytest-md
            pytest-emoji
            quetz

      - name: Install quetz-client
        run: |
          pip install -e .

      - name: Run pytest
        uses: pavelzw/pytest-action@v2
        with:
          verbose: true
          emoji: true
          job-summary: true
          click-to-expand: true

  pre-commit:
    name: Run pre-commit
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@v3.3.0
      - name: Install Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: 3.11
      - name: Run pre-commit checks
        uses: pre-commit/action@v3.0.0
