name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

defaults:
  run:
    shell: bash -l {0}

jobs:
  list_quetz_server_versions:
    name: List Quetz server versions
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.3.0
      - id: list_versions
        run: |
          echo "quetz_versions=$(jq --raw-input --slurp 'split("\n")' -c .quetz-server-versions)" >> $GITHUB_OUTPUT
    outputs:
      quetz_versions: ${{ steps.list_versions.quetz_versions }}
  pytest:
    strategy:
      matrix:
        quetz_server_version: "${{fromJSON(needs.list_quetz_server_versions.outputs.quetz_versions)}}"
    name: Run pytest
    runs-on: ubuntu-latest
    needs:
      - list_quetz_server_versions
    steps:
      - uses: actions/checkout@v3.3.0

      - name: Install mamba & create environment
        uses: mamba-org/provision-with-micromamba@v15
        with:
          cache-env: true
          extra-specs: |
            pytest-md
            pytest-emoji
            quetz==${{ matrix.quetz_server_version }}

      - name: Install quetz-client
        run: |
          pip install -e .

      - name: Run pytest
        uses: pavelzw/pytest-action@v2
        with:
          verbose: true
          emoji: true
          job-summary: true
          click-to-expand: true

  pre-commit:
    name: Run pre-commit
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@v3.3.0
      - name: Install Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: 3.11
      - name: Run pre-commit checks
        uses: pre-commit/action@v3.0.0

  check-release:
    name: Check release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout branch
        uses: actions/checkout@v3.3.0
      - name: Install Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: 3.11
      - name: Install missing dependency
        run: pip install ipython_genutils
      - name: Check Release
        uses: jupyter-server/jupyter_releaser/.github/actions/check-release@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
